{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Central de Ajuda</title>
  <link rel="stylesheet" href="{% static 'css/milligram.cGeral.css' %}" />
  <link rel="stylesheet" href="{% static 'css/milligram.ajuda.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
  <header class="ajuda-header">
    <a href="{% url 'indexComunidade' %}"><i class="fas fa-arrow-left"></i></a>
    <h2>Central de ajuda</h2>
    <button type="submit" form="form-ajuda">enviar</button>
  </header>

  <div class="container">
    {% if messages %}
     {% for m in messages%}
              <div class="alert {{m.tags}}" role="alert">{{m}}</div>
    {%endfor %}
    {%endif%}

    <form id="form-ajuda" action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <label for="motivo">Motivo:</label>
      <select name="motivo" id="motivo">
         <option value=""  selected disabled>-----------------------------</option>
        {% for m in motivos %} 
        <option value="{{m}}">{{m}}</option>
        {%endfor%}
      </select>

<br>
      <label for="mensagem">Mensagem:</label>
      <textarea id="mensagem" name="mensagem" rows="5" required></textarea>

      <label for="imagem">Se necessário, adicione imagem:</label>
      <input type="file" id="imagem" name="imagem" accept="image/*" />
    </form>
  </div>

  <!-- <script src="{% static 'js/index.js' %}"></script>  provavelmente adicionar js mais tarde -->
</body>
</html>