{% load static%}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cadastro</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/milligram.cad.css' %}"/>
</head>
<body>
  <div class="cadastro-container">
    
    <form  id="form" method="POST" action="" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="foto-container">
      <div class="circulo-foto" id="circulo-foto"></div>
      <p class="foto-texto"><input class="imagem" type="file" name="imagem" required></p>
    </div>

      <div class="message" style="text-align: center;">
        {% if messages%}
          {% for message in messages%} 
          <div class="{{ message.tags}}" role="alert">{{message}}</div>
          {% endfor %}
        {% endif %}
      </div>
      <input  type="text" placeholder="Nome de usuário" name="username" />
      <input type="email" placeholder="Email" name="email" />
      <input class="senha" type="password" placeholder="Senha"name="senha"/>
      <input type="password" placeholder="Confirmar senha" class="senhaAgain"/>
      <button type="submit" >Registrar</button>
    </form>
    <a href="javascript:history.back()" class="btn btn-primary">Voltar</a>

  </div>

   <script src="{% static 'js/cadastro.js' %}"></script>
  
</body>
</html>
