{%load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Giz Digital</title>
  <link href="https://fonts.googleapis.com/css2?family=Inika&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.min.css" />
  <link rel="stylesheet" href="{% static 'css/milligram.min.css'%}">
</head>
<body>
  <div class="pagina">
    <header>
      <div class="logo">
        <img src="{% static 'img/macotePI-removebg-preview.png' %}" alt="Coruja" />
        Giz Digital
      </div>
      <button class="btn-entrar"><a href="{%url 'login' %}">Entrar</a></button>
    </header>

    <main class="hero">
      <h1>Colabore, compartilhe<br />e ensine melhor</h1>
      <span class="linha linha-azul"><h1>Técnicas Educacionais</h1></span>
      <span class="linha linha-roxa"><h1>Para Docentes</h1></span>
      <span class="linha linha-verde"><h1>Qualidade na educação</h1></span>
      <br />
      <button class="btn-comecar"><a href="{%url 'login' %}">Comece</a></button>
    </main>

  <div class="fundoQuadro">
  <div class="conteudo-com-coruja">
    <section class="quadro">
      <h2>O que você pode<br />fazer por aqui?</h2>
      <ul>
        <li>Compartilhar experiências</li>
        <li>Participar de eventos</li>
        <li>Encontrar materiais</li>
        <li>Crescer com o seu perfil</li>
      </ul>
    </section>
    <img class="coruja" src="{% static 'img/corujaJoseph-removebg-preview.png' %}" alt="Coruja mascote" />
  </div>
</div>

    <footer>
      <h1>teste</h1>
    </footer>
  </div>
</body>
</html>