{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/milligram.log.css' %}" />

</head>
<body>
  <div class="pagina">
  <div class="login-container">
    <div class="logo-login">
      <div class="coruja-circulo">
        <img src="{%static 'img/macotePI-removebg-preview.png' %}" alt="Coruja mascote">
      </div>
    </div>

    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      
      <div class="message" style="text-align: center;">
        {% if messages %}
          {% for message in messages%} 
          <div class="alert {{ message.tags}}" role="alert">{{message}}</div>
          {% endfor %}
        {% endif %}
      </div>
      <input type="email" placeholder="Email" name="email" />
      <input type="password" placeholder="Senha" name="senha" />
      <a href="{% url 'forget_password' %}" class="esqueci">esqueci minha senha</a>
      <button type="submit" class="btn-entrar">Entrar</button>
    </form>
    <div class="posForm">
    <button type="submit" class="btn-registrar"><a href="{% url 'cadastrar' %}">Registrar</a></button>
    </div>
  </div>
  </div>
</body>
</html>
