{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperação</title>
    <link rel="stylesheet" href="{% static 'css/milligram.recuper.css' %}">
</head>
<body>
    <div class="container">
        <h2>Nova Senha</h2>
        <p>Defina sua nova senha</p>
        <form>
            <input type="password" placeholder="Nova senha" required>
            <input type="password" placeholder="Confirmar senha" required>
            <button type="submit">Redefinir</button>
        </form>
    </div>
</body>
</html>