/* Melhora a separação visual entre itens de StackedInline */
.inline-group .inline-related {
    background-color: #222 !important; /* Fundo escuro sutil */
    border: 0px 2pxx solid #444 !important; /* Borda visível */
    border-radius: 8px;
    margin-bottom: 2px !important; /* Espaço entre blocos */
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

/* Cabeçalho do inline (título do item) */
.inline-group .inline-related h3 {
    background-color: #2e2e2e !important;
    color: #f5f5f5 !important;
    padding: 10px;
    border-radius: 6px 0px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

/* Campos dentro do bloco */
.inline-group .inline-related .form-row {
    border-bottom: 1px solid #333;

}

/* Remove a linha final desnecessária */
.inline-group .inline-related .form-row:last-child {
    border-bottom: none;
}

/* Deixa os botões de adicionar/remover visíveis e com destaque */
.inline-group .add-row a,
.inline-group .inline-deletelink {
    background-color: #3a3a3a !important;
    border: 1px solid #555 !important;
    color: #fff !important;
    padding: 5px 0 !important;
    border-radius: 6px 0 0 6px;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
}
.inline-group .add-row a:hover,
.inline-group .inline-deletelink:hover {
    background-color: #5b5b5b !important;
}
