
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.45);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

/* Caixa do modal */
.modal-content {
    background: #c9ebff;
    width: 90%;
    max-width: 450px;
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0 4px 18px rgba(0,0,0,0.20);
    animation: popup 0.3s ease;
}

/* Animação */
@keyframes popup {
  from { transform: scale(0.8); opacity: 0; }
  to   { transform: scale(1); opacity: 1; }
}

/* Inputs */
.modal-content input,
.modal-content textarea,
.modal-content select {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #8dbad6;
    background-color: #eef9ff;
}

/* Botão criar */
.criar-btn {
    width: 100%;
    padding: 10px;
    background: #9eb6ff;
    color: #00335f;
    border-radius: 12px;
    font-weight: bold;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

/* Botão fechar */
.fechar-btn {
    width: 100%;
    margin-top: 10px;
    padding: 8px;
    background: #ff8b8b;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    color: white;
    cursor: pointer;
}