body {
    margin: 0;
    background: #f2f2f2;
    font-family: Arial, sans-serif;
}

.top-bar {
    width: 100%;
    height: 60px;
    background: #8be2ff;
    display: flex;
    align-items: center;
    padding-left: 15px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.top-bar .back {
    font-size: 26px;
    cursor: pointer;
    margin-right: 10px;
}

.feed {
    width: 100%;
    padding: 15px 0 120px; 
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.post {
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding-left: 10px;
    padding-right: 10px;
}

.icon {
    flex-shrink: 0;
    width: 12vw;
    height: 12vw;
    max-width: 45px;
    max-height: 45px;
    background: #00d000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 2.5vw;
    /* max-font-size: 12px; */
    margin-right: 10px;
    text-align: center;
}

.content-box {
    background: #96ffa3;
    flex-grow: 1;
    min-height: 80px;
    border-radius: 18px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(60, 60, 60);
    font-size: 4vw;
    /* max-font-size: 18px; */
    word-wrap: break-word;
}

.bottom-comment {
    width: 100%;
    background: #d4ffd6;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    z-index: 2000;
    border-top: 1px solid #bbbbbb55;
}

.bottom-comment input {
    width: 95%;
    height: 55px;
    border-radius: 20px;
    border: none;
    font-size: 4vw;
    padding-left: 15px;
    background: #ffffffcc;
    outline: none;
}

@media (min-width: 768px) {
    .content-box {
        font-size: 18px;
        min-height: 120px;
        padding: 25px;
    }

    .icon {
        width: 40px;
        height: 40px;
        font-size: 12px;
    }

    .top-bar {
        height: 70px;
    }

    .bottom-comment input {
        font-size: 16px;
        height: 60px;
    }
}