<!DOCTYPE html>
<html>
  <body style="font-family: Arial, sans-serif; text-align: center; padding: 20px;">
    <p style="font-size: 16px;">
      Se você pediu para modificar a senha do <strong> Giz digital</strong>, use o código abaixo.
    </p>

    <div style="
      display: inline-block;
      background-color: #4285f4;
      color: white;
      font-size: 24px;
      font-weight: bold;
      padding: 12px 24px;
      border-radius: 8px;
      margin-top: 10px;
      letter-spacing: 2px;
    ">
     {{codigo}}
    </div>
  </body>
</html>
