{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Materiais</title>
  <link rel="stylesheet" href="" /> 
  <!-- pro css principal -->
  <link rel="stylesheet" href=""> 
  <!-- pro css do sbmeter -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>
<body>
  <div class="container">
    <nav class="tabs">
      <button>nº elementos</button>
      <button>nº elementos</button>
      <button>postagens</button>
      <button class="active">materiais</button>
      <button>eventos</button>
    </nav>

    <section class="materiais">
      <div class="card">
        <h3>titulomaterial</h3>
        <div class="descricao">espaço onde vai aparecer a descrição</div>
        <div class="etiquetas">espaço onde vai aparecer as etiquetas</div>
        <div class="link-material">espaço onde vai aparecer o "link" do material, como se fosse um botão</div>
      </div>

      <div class="card">
        <h3>titulomaterial</h3>
        <div class="descricao">espaço onde vai aparecer a descrição</div>
        <div class="etiquetas">espaço onde vai aparecer as etiquetas</div>
        <div class="link-material">espaço onde vai aparecer o "link" do material, como se fosse um botão</div>
      </div>

      <div class="card">
        <h3>titulomaterial</h3>
        <div class="descricao">espaço onde vai aparecer a descrição</div>
        <div class="etiquetas">espaço onde vai aparecer as etiquetas</div>
        <div class="link-material">espaço onde vai aparecer o "link" do material, como se fosse um botão</div>
      </div>
    </section>

    <button class="add-btn"><i class="fas fa-plus"></i></button>

    <div class="popup material">
        <h2>Mandar Material</h2>
        <input type="text" placeholder="Título do material" />
        <textarea placeholder="Descrição do material"></textarea>
        <input type="text" placeholder="Etiquetas (separadas por vírgula)" />
        <input type="text" placeholder="Link do material" />
        <button class="submit-btn">Enviar</button>
    </div>
  </div>
</body>
</html>