{% load static %}
{% load custom_tags %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ comunidade.nome }}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/milligram.cBase.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
  <link rel="stylesheet" href="{% static 'css/milligram.evento.css' %}" />
  <link rel="stylesheet" href="{% static 'css/milligram.submeter.css' %}" />
  <link rel="stylesheet" href="{% static 'css/milligram.material.css' %}" />
  <link rel="stylesheet" href="{% static 'css/milligram.post.css' %}">




</head>

<body class="comunidade {{ comunidade.slug }}">
  <header class="comunidade-header">
    <img src="{{ comunidade.capa_comunidade.url }}" alt="Imagem da comunidade" class="comunidade-img" />
    <div class="comunidade-info" href="">
      <h1>{{ comunidade.nome }}</h1>
      <p>{{ comunidade.descricao }}</p>
      <form action="{% url 'modifica_joined' comunidade.id carregar 'modificar_seguidor' %}" method="POST">
   
           {% csrf_token %}
             <button class="btn-junte-se 
                              {%if user_joined == True %} btn-juntado {%endif%}">
                              <!-- coloquei o css de btn-juntado dem cBase -->
                                {%if user_joined == False %}
                                        Junte-se
                                {% else%}
                                        Participando
                                {%endif%}
              </button>
        </form>
      <div class="comunidade-meta">
        <span>{{ comunidade.membros.count }} membros</span>
        <br>
      
        <span>{{ comunidade.posts.count }} postagens</span>
      </div>
    </div>
    <style>
      /* sstyle provisório */
    </style>
  </header>
  <button><a href="{% url 'indexComunidade' %}">Saia aqui</a></button>
  <nav class="comunidade-tabs tabs">
    <button> <a href="{% url 'carregar' comunidade.id 'posts' %}"
        class=" {% if carregar == 'posts' %}active{% endif %}">postagens</a>
    </button>
    <button> <a href="{% url 'carregar'  comunidade.id 'materiais' %}"
        class=" {% if carregar == 'materiais' %}active{% endif %}">materiais</a>
    </button>
    <button> <a href="{% url 'carregar'  comunidade.id 'eventos' %}"
        class=" {% if carregar == 'eventos' %}active{% endif %}">eventos</a>
    </button>


  </nav>
  <main class="comunidade-posts">


    {% if carregar == 'posts' %}
    
 <div class="popup evento">
      <form action="{% url 'enviar_comunidade' comunidade.id carregar %}" method="POST" enctype="multipart/form-data">
       
        {% csrf_token %}

        <h2>Criar post</h2>
        
        {% for message in messages%} 
        <div class="alert {{ message.tags}}" role="alert">{{message}}</div>
        {% endfor %}
     

<br>
<textarea cols="40" name="conteudo" placeholder="Conteudo " required></textarea>

<br>
        <input name="foto"  type="file" placeholder="Foto do post" /><br>
       
        <button class="submit-btn" >Criar</button>
   
   
  </form>
     </div>
    
     {% for post in dados %}
    <div class="post">
      
      <div class="post-topo">
        <img src="{{ post.usuario.foto.url }}" alt="{{ post.usuario.username }}" class="foto-perfil avatar" />

        <span class="nome-perfil">{{post.usuario.username}}</span>
       

      </div>
    
      <div class="post-conteudo">
        {{ post.conteudo }}
      </div>
      
      <div>
         {% if post.foto %}
        
      <img src="{{ post.foto.url }}" alt="Imagem do post" class="post-img" style="max-width: 300px; max-height: 300px;" />
      {% endif %}
      </div>
       <span class="data">Data:{{ post.data_criacao|date:"d \d\e F \d\e Y"}} <br>Horario:{{ post.data_criacao|time:"H:i"}} 
                </span>
    
      <div class="post-acoes">  

        <button class="btn-coment btn-coment-{{post.id}}">💬</button>
      </div>
      {% if post.id|filtrar_comentarios %} {{post.id|filtrar_comentarios|length}} 
                {%else%}0{%endif%} {%if post.id|filtrar_comentarios|length == 1 %} comentário{%else%} comentários {%endif%}
        <div class="feed-{{post.id}}" style="display: none;">
                  
<div class="feed">
    <div class="post">
     
      {%if  post.id|filtrar_comentarios %}
      {% for coment in post.id|filtrar_comentarios %}
    
        <div class="iconpo"><img style="width: 25px; height: 25px; border-radius: 50%;object-fit: cover;" src="{{coment.usuario.foto.url}}" alt="fotoDequemFezOpost"> {{coment.usuario}}</div>
        <div class="content-box">{{coment.conteudo}}</div>
    {%endfor%}
    {% endif %}

      </div>

</div>

<div class="bottom-comment">
    <form action="{% url 'comentar' post.id %}" method="POST">
        {% csrf_token %}
      <div style="display: flex;"><input type="text" placeholder="espaço pra comentar"  name="comentario"/></form>
                      <button  style="margin-right: 25px;" class="btn-coment">Enviar</button>    </div>
     
</div>
</div>
        </div>
        <script>
           document.querySelector('.btn-coment-{{post.id}}').addEventListener('click', ()=>{
            let feed = document.querySelector('.feed-{{post.id}}')
          document.querySelector('.btn-coment-{{post.id}}').innerHTML =  '💬'

            if(feed.style.display == 'block'){
              feed.style.display = 'none'
            }else{
              feed.style.display = 'block'
              document.querySelector('.btn-coment-{{post.id}}').innerHTML =  '🔼'
            }
           })
        </script>

        
  
    </div>
    {%endfor%}  
    
     
          <div class="fab fab_voltar_em_cima">+</div>
          <script>
            let fab_voltar_em_cima = document.querySelector('.fab_voltar_em_cima')
            fab_voltar_em_cima.addEventListener('click', ()=>{
              window.scrollTo({ top: 0, behavior: "smooth" });

            })
          </script>
    

   
   
  






















    {%elif carregar == 'materiais' %}




    <!-- <div class="container">
      <nav class="tabs">
        <button>nº elementos</button>
        <button>nº elementos</button>
        <button>postagens</button>
        <button class="active">materiais</button>
        <button>eventos</button>
      </nav> -->
  <form action="{% url 'enviar_comunidade' comunidade.id carregar %}" method="POST" enctype="multipart/form-data">
      
            {% csrf_token %}

        <div class="popup material">
        <h2>Mandar Material</h2>
        <input name="titulo" type="text" placeholder="Título do material" />
          <input name="ext" type="text" placeholder="Que tipo de arquivo você esta mandando preciso colcoar um selec aquinão fiz nada aqui ainda" />

        <textarea name="descricao" placeholder="Descrição do material"></textarea>
        <input name="material" type="file" placeholder="escolha um arquivo" />
       
       <div> <input type="checkbox" name="termos_e_condicoes" id="" required>
         <label for="termos_e_condicoes">
          Aceito os <a href="">termos e condições</a> permitindo que o material seje usado por terceiros e confirmo que este material,caso seja um arquivo, é meu/de domínio público
        </label></div>
        <button class="submit-btn">Enviar</button>
      </div>
    </form>
      <section class="materiais">
        {% for material in dados %}
        <div class="card">
         <div class="infosMaterial">
           <img src="{{material.usuario.foto.url}}" alt="fotoDequemFezOpost">
           <h3><a href="{% url 'view_profile' material.usuario.id %}">{{material.usuario}}</a></h3>
         </div>
          <div class="titulo"> <h2>{{material.titulo}}</h2></div>

          <div class="descricao">{{material.descricao}}</div>
         
          <a href="{{material.arquivo.url}}"  target="_blank"   class="link-material btn-{{material.ext}}">
          📄 Vizualizar
        </a> 
        <a href="{{material.arquivo.url}}"  download="" style="font-size: 23px;" class="link-material btn-{{material.ext}}">
          📥 
        </a> 
      
        </div>
        {% endfor %}

      
      </section>

      <button class="add-btn fab_voltar_em_cima"><i class="fab fa-plus"></i></button>


  
   




     <script>
            let fab_voltar_em_cima2 = document.querySelector('.fab_voltar_em_cima')
            fab_voltar_em_cima2.addEventListener('click', ()=>{
              window.scrollTo({ top: 0, behavior: "smooth" });

            })
          </script>






















    {% elif carregar == 'eventos' %}
    <div class="container">
    
      {% for e in dados %}
      
      <div class="popup evento">
      <form action="{% url 'enviar_comunidade' comunidade.id carregar %}" method="POST" enctype="multipart/form-data">
       
        {% csrf_token %}

        <h2>Criar reunião</h2>
        {% for message in messages%} 
        <div class="alert {{ message.tags}}" role="alert">{{message}}</div>
        {% endfor %}
        <input type="text" name="titulo" required placeholder="Título da reunião" />
<br>
<textarea name="descricao" placeholder="Descrição da reunião"></textarea>

<br>
        <input name="url_da_reuniao" required type="text" placeholder="Link do Google Meet" />
        <div class="inline-fields">
          <input name="data" type="date" required/>
          <input name="hora" type="time" required/>
        </div>
        <button class="submit-btn">Criar</button>
   
   
  </form>
     </div>  
      <section class="eventos">
         
        <div class="evento-card">
          <div  class="organizador">
        Organizador da reunião:
        <img src="{{ e.criador.foto.url }}" alt="{{ e.criador.username }}" class="foto-perfil avatar" />
        <span class="nome-perfil">{{e.criador.username}}</span>
       

      </div>
          <h3>{{e.tematica}}</h3>
          <div class="descricao">
          {% if e.descricao  %}
          {{e.descricao}}
          {% else %}
          Reunião não possui uma  descrição
          {% endif %}
     
        </div>
     
          <div class="link-meet"><a href="{% if e.url_da_reuniao|slice:':4' != 'http' %}https://{{ e.url_da_reuniao }}{% else %}{{ e.url_da_reuniao }}{% endif %}" target="_blank">{{e.url_da_reuniao}}</a></div>
          <div class="info">
            <span class="data">{{ e.data_hora|date:"d \d\e F \d\e Y" }}</span>
            <span class="hora">Horario: {{ e.data_hora|time:"H:i" }}</span>
          </div>
        </div>
        {% endfor %}

      </section>

      <button class="add-btn fab_voltar_em_cima"  {%if request.user.pontuacao < 4 %}  style="opacity: 0.4;cursor: not-allowed !important;"{%endif%} ><i class="fab fa-plus" {%if request.user.pontuacao < 4 %}  style="opacity: 0.4;cursor: not-allowed !important;"{%endif%}></i></button>

     <script>
            let fab_voltar_em_cima3 = document.querySelector('.fab_voltar_em_cima')
            fab_voltar_em_cima3.addEventListener('click', ()=>{
              window.scrollTo({ top: 0, behavior: "smooth" });

            })
          </script>
    {%endif%}
  </main>


</body>
<script>
  let fab  = document.querySelector('.fab')
  let popup = document.querySelector('.popup')
  popup.style.display = 'none';
  fab.addEventListener('click', ()=> {
    if(fab.style.cursor != 'not-allowed'){
    let popupAtual = document.querySelector('.popup')

    popupAtual.style.display = 'block';
    }else{
      alert('Você não possui permissão para tal ação')
    }
  } )
</script>
</html>
