{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ comunidade.nome }}</title>
    <title></title>
</head>
<body>

    <!-- o html da pagina material aqui -->

    <div class="popup post">
        <h2>Fazer um Post</h2>
        <input type="text" placeholder="Escreva um título" />
        <textarea placeholder="Escreva a mensagem"></textarea>
        <button class="upload-btn">Adicionar arquivo/imagem</button>
        <button class="submit-btn">Postar</button>
    </div>
</body>
</html>