<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar comunidade</title>
    <link rel="stylesheet" href="{% static 'css/milligram.criarC.css' %}">
</head>
<body>
    <div id="modalCriar" class="modal-overlay">
  <div class="modal-content">
    <h2>Criar Nova Comunidade</h2>

    <form action="{% url 'criar_comunidade' %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}

      <label for="nome">Nome da comunidade</label>
      <input type="text" name="nome" required>

      <label for="etiqueta">Etiquetas</label>
      <select name="etiquetas" multiple>
        {% for e in etiquetas %}
          <option value="{{ e.id }}">{{ e.nome }}</option>
        {% endfor %}
      </select>

      <label for="descricao">Descrição</label>
      <textarea name="descricao" rows="4" required></textarea>

      <label for="foto">Foto/Capa da Comunidade</label>
      <input type="file" name="foto" accept="image/*">

      <button class="criar-btn" type="submit">Criar</button>
    </form>

    <button class="fechar-btn" onclick="fecharModal()">Fechar</button>
  </div>
</div>
</body>
</html>