{% load static %}
{% load custom_tags %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Comunidades</title>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static 'css/milligram.cGeral.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>
<body>
   <header>
       <div class="header-left">
        <a href="{% url 'perfil' %}"><img src="{%static 'img/macotePI-removebg-preview.png' %}" alt="Avatar" class="avatar" /></a>
        <i class="fas fa-bell notification"></i>
      </div>
      <div class="search-wrapper">
        <form id="form_pesquisar" action="{% url  'pesquisar' %}" method="POST">
          {% csrf_token %}
        <input type="text" class="search-bar"  name="conteudo" placeholder="Pesquise comunidades"  required/>
    <i class="fas fa-search search-icon" onclick="pesquisar()"></i>

        </form>
      </div>
      <h2><a href="{% url 'sair' %}">Logout</a></h2>
    </header>

  <div class="container">
                  <button class="alert alert-danger" role="alert" onclick="window.location ='/app/' ">Voltar</button>

      <section class="recommended">
      <h2>Comunidades filtradas:</h2>
      <div class="card-group" >
        {%if comunidades_filtradas %}
        {% for comunidade in comunidades_filtradas %}
    <div class="card {{ comunidade.etiqueta }}" >
                                      
      <div class="card-content">
              <img src="{{ comunidade.capa_comunidade.url }}" alt="{{ comunidade.nome }}" />
              <div>
                <h3 class="nome_comunidade">{{ comunidade.nome }}</h3>
                <p>{{ comunidade.membros.count }} membros</p>
                <p class="desc">{{ comunidade.descricao|truncatewords:20  }}</p> 
                <!-- safe par aintroduzir o html e :50 é aq uantidade de caracteres -->
            <div style="display: flex;">
                {% for e in comunidade.etiquetas.all %}
        
        <div class="etiqueta etiqueta--{{e.corRGB}}">
             {{e.nome}}
        </div>
                {% endfor%}
          </div>
            <button><a href="{% url 'comunidade' comunidade.id%} ">entrar</a></button>
          
              </div> 
             
            </div>
      </div>
        {% endfor %}

        {%else%}
          <div class="card" >                              
      <div class="card-content">
              <div>        
                <p class="desc">A pesquisa não obteve resultados :(</p> 
            </div>            
            </div>
      </div>
        {%endif%}
      </div>
    </section>

    
  </div>
  <footer>
      <i class="fas fa-user"></i>
      <i class="fas fa-plus"></i>
      <i class="fas fa-pencil-alt"></i>
    </footer>
    <script src="{% static 'js/index.js'%}"></script>
    <script>
   
      document.addEventListener("DOMContentLoaded", () =>{
          function pesquisar(){
    alert('oi')
}
            let etiquetas_div = document.querySelectorAll('div[class*="etiqueta"]')
            for(let i = 0; i < etiquetas_div.length;i++){
             
                    let classes = etiquetas_div[i].classList; // pega todas as classes como DOMTokenList
                   
                    let cor = Array.from(classes).find(c => c.startsWith('etiqueta--'));
                    
                    etiquetas_div[i].style.backgroundColor  = cor.split('--')[1];
                   
              
            }
      });
       
    </script>
</body>
</html>