{% load static %}
{% load custom_tags %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Comunidades</title>
  
      <link rel="stylesheet" href="{% static 'css/milligram.criarC.css' %}">

  <link rel="stylesheet" href="{% static 'css/milligram.cGeral.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
  <script src="https://unpkg.com/phosphor-icons"></script>
  <style>
    .alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .375rem;
}
.alert-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}
.alert-danger {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}


  </style>
</head>
<body>
   <header>
       <div class="header-left">
        <a href="{% url 'perfil' %}"><img src="{%static 'img/macotePI-removebg-preview.png' %}" alt="Avatar" class="avatar" /></a>
        <i class="fas fa-bell notification"></i>
      </div>
      <div class="search-wrapper">
        <form id="form_pesquisar" action="{% url  'pesquisar' %}" method="POST">
          {% csrf_token %}
        <input type="text" class="search-bar"  name="conteudo" placeholder="Pesquise comunidades"  required/>
    <i class="fas fa-search search-icon" onclick="pesquisar()"></i>

        </form>
      </div>
      <h2 class="sair"><a class="Logout" href="{% url 'sair' %}"><i class="ph ph-sign-out"></i></a></h2>
    </header>

  <div class="container">
    {% if messages %}
      {%for  m in messages%}
        <div class="alert {{m.tags}}" role="alert">{{m}}</div>
      {%endfor%}
    {% endif %}
      <section class="recommended">
      <h2>Comunidades Recomendadas:</h2>
      <div class="card-group" >
        {%if comunidades %}
        {% for comunidade in comunidades %}
   <div class="card {{ comunidade.cor }}">
            <div class="card-content">
              <img src="{{ comunidade.capa_comunidade.url }}" alt="{{ comunidade.nome }}" />
              <div>
                <h3>{{ comunidade.nome }}</h3>
                <p>{{ comunidade.membros.count }} membros</p>
                <p class="desc">{{ comunidade.descricao|truncatewords:10 }}</p>
               <div style="">
                {% for e in comunidade.etiquetas.all %}
        
        <div class="etiqueta etiqueta--{{e.corRGB}}">
             {{e.nome}}
             
        </div>
                {% endfor%}
          </div>
              </div>
            </div>
            
              <button><a class="entrarComu" href="{% url 'comunidade' comunidade.id%} ">entrar</a></button>
          </div>
        {% endfor %}

        {%else%}
          <div class="card" >                              
      <div class="card-content">
              <div>        
                <p class="desc">Sem comunidades recommendadas</p> 
            </div>            
            </div>
      </div>
        {%endif%}
      </div>
    </section>

    <section class="highlights">
      <h2>Destaques:</h2>
      <div class="card-group">
        {% if comunidades_destaque  %}
        {% for comunidade in comunidades_destaque %}
          <div class="card {{ comunidade.cor }}">
            <div class="card-content">
              <img src="{{ comunidade.capa_comunidade.url }}" alt="{{ comunidade.nome }}" />
              <div>
                <h3>{{ comunidade.nome }}</h3>
                <p>{{ comunidade.membros.count }} membros</p>
                <p class="desc">{{ comunidade.descricao|truncatewords:10 }}</p>
               <div style="">
                {% for e in comunidade.etiquetas.all %}
        
        <div class="etiqueta etiqueta--{{e.corRGB}}">
             {{e.nome}}
             
        </div>
                {% endfor%}
          </div>
              </div>
            </div>
            
              <button><a class="entrarComu" href="{% url 'comunidade' comunidade.id%} ">entrar</a></button>
          </div>
          
        {% endfor %}
        {% else %}
          <div class="card" >                              
      <div class="card-content">
              <div>        
                <p class="desc">Sem comunidades em destaque</p> 
            </div>            
            </div>
      </div>
        {%endif%}
      </div>
    </section>
  </div>
    <div id="modalCriar" class="modal-overlay">
  <div class="modal-content">
        <a class="back" href="{% url 'indexComunidade' %}"><i class="fas fa-arrow-left"></i></a>

    <h2>Criar Nova Comunidade</h2>

    <form action="{% url 'criar_comunidade' %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}

      <label for="nome">Nome da comunidade</label>
      <input type="text" name="nome" required>

      <label for="etiqueta">Etiquetas</label>
      <select name="etiquetas" multiple required>
        {% for e in etiquetas %}
          <option value="{{ e.id }}">{{ e.nome }}</option>
        {% endfor %}
      </select>

      <label for="descricao" >Descrição</label>
      <textarea name="descricao" rows="4" required></textarea>

      <label for="foto">Foto/Capa da Comunidade</label>
      <input type="file" required name="foto" accept="image/*">

      <button class="criar-btn" type="submit">Criar</button>
    </form>

  </div>
</div>
  <footer>
          <a href="{% url 'suas_comunidades' %}"><i class="fas fa-user"></i></a>

      {%if request.user.pontuacao < 4 %}
        <i class="fas fa-plus add-comu-user-normal" style="opacity: 0.4;" ></i>
        <script>
          let aux = document.querySelector('.add-comu-user-normal')
          aux.addEventListener('click', ()=> {
            alert('Você só poderá criar comunidade se tiver mais de 4 estrelas')
          })
        </script>
      {%else %}
          <i class="fas fa-plus add-comu-user-premium"  style="cursor:pointer ;"> </i>
 
<script>
          let aux2 = document.querySelector('.add-comu-user-premium')
          aux2.addEventListener('click', ()=> {
            let modal_overlay = document.querySelector('.modal-overlay')
            modal_overlay.style.display = 'Flex'
        
          })
        </script>
      {%endif%}
   
      <a class="suporte" href="{% url 'suporte' %}"><i class="ph ph-headset"></i></a>
    </footer>

     
    <script src="{% static 'js/index.js'%}"></script>
    <script>
   
      document.addEventListener("DOMContentLoaded", () =>{
          function pesquisar(){
    alert('oi')
}
            let etiquetas_div = document.querySelectorAll('div[class*="etiqueta"]')
            for(let i = 0; i < etiquetas_div.length;i++){
             
                    let classes = etiquetas_div[i].classList; // pega todas as classes como DOMTokenList
                   
                    let cor = Array.from(classes).find(c => c.startsWith('etiqueta--'));
                    
                    etiquetas_div[i].style.backgroundColor  = cor.split('--')[1];
                   
              
            }
      });
       
    </script>
</body>
</html>