{% load static %}
{% load custom_tags %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Editar Perfil</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static 'css/milligram.pEdit.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>

<body>
  <form  action="{% url 'modify_profile' request.user.id %}" class="form-section" method="POST" enctype="multipart/form-data">
  
      {% csrf_token %}

  <div class="container" >
    <header>
      <button type="button" class="back" >
        <a href="{% url 'indexComunidade' %}" class="back">
    <i class="fas fa-arrow-left"></i>
    </a>
      </button>
      <h1>Editar perfil</h1>
      <input type="submit" class="save" value="Salvar"> 
    </header>

    


      <!-- Perfil + estrelas -->
      <div class="profile-section">
        <label for="fotoDePerfil">
          <img id="previewFoto" 
               src="{% if user.foto %}{{ user.foto.url }}{% else %}{% static 'img/defaultFotoPerfil.jpg' %}{% endif %}" 
               alt="Perfil" class="profile-pic" />
      </label>
        <div id="selecionarFoto">
          <label style="cursor: pointer;" for="fotoDePerfil">Selecionar foto</label>
          <input type="file" name="foto"  id="fotoDePerfil" style="display: none;"/>
        </div>
        <div class="stars">
          <i class="fas fa-star estrela"></i>
          <i class="fas fa-star estrela"></i>
          <i class="fas fa-star estrela"></i>
          <i class="fas fa-star estrela"></i>
          <i class="fas fa-star estrela"></i>
        </div>
      </div>
    
      <!-- Linha com inputs e biografia -->
        <div class="message" style="text-align: center;">
        {% if messages%}
          {% for message in messages%} 
          <div class="{{ message.tags}}" role="alert">{{message}}</div>
          {% endfor %}
        {% endif %}
      </div>
      <div class="form-row">
        
        <!-- Biografia
        <div class="form-group">
          <label for="">Biografia:</label>
          <textarea name="biografia">{{dados_usuario.Biografia}}</textarea>
        </div> -->

        <!-- Outros campos -->
        {% for key,value in dados_usuario.items %}
          {% if key != 'date_joined' and key != 'Biografia'  and key not in dados_com_select  and key not in  dados_com_checkbox%}
          <div class="form-group">
            <label for="{{key}}">{{key}}</label>
            <input type="text" value="{{value}}" name="{{key}}" id="{{key}}">
          </div>

         
         
          {% endif %}
        {% endfor %}
    
        <!--PARTE DOS SELECT AQUI -->
 <div class="form-group">
  {% for  key,value in dados_com_select.items %}
          <label>{{key}}</label>
         
          <select name="{{key}}" id="">
          
          {% for j in  value %}
          
            <option value="{{j}}" {% if j|stringformat:"s" in dados_usuario|dict_get:key %}selected{%endif%}>{{j}}</option>
            
          {%endfor%}
          </select>
        
        </div>
      {%endfor%}

    <!-- AQUI TERMINAR AS PERTES DOS SELECTS -->

  <!-- aqui começa a parte dos checkbox -->
   
        
       {% for key,value in  dados_com_checkbox.items %}
        <div class="form-group">
          <label>{{key}}</label>
          <div class="dive checkbox" id="{{key}}">
          {% for i in  value %}
        
          
               <input  type="checkbox" id="{{i}}" name="{{key}}" value="{{i}}" {%if i|stringformat:"s"  in  dados_usuario|dict_get:key %} checked {%endif %}>
            <label for="{{i}}">{{i}}</label>
       
          
          

          {%endfor%}
          </div>
        </div>
      {%endfor%}
        <div class="form-group">
          <label>Primeiro login</label>
          <input type="text" value='{{dados_usuario.date_joined|date:"d/m/y"}}' disabled />
        </div>

         <!-- Biografia -->
         <div class="form-group-bio">
          <label for="biografia">Biografia:</label>
          <textarea name="biografia" id="biografia">{{dados_usuario.Biografia}}</textarea>
        </div>
    
      </div>
    
    </form>
    
    <h1>REDEFNINIR SENHA</h1>
    
  </div>

  <script src="{% static 'js/perfil.js'%}">
    
  </script>
  <script>
    window.addEventListener('load', function() {
        // Passando o valor do servidor
    let estrelas =  document.querySelectorAll('.estrela')
    let pontuacao = '{{user.pontuacao}}'
    pontuacao = parseInt(pontuacao)
    for(let i = 0; i < pontuacao; i++ ){
      estrelas[i].classList.add('pintada')
    }
      // Seleciona todos os inputs e textareas dentro do formulário
    let elementos = [
        ...document.querySelectorAll('.form-section input'),
        ...document.querySelectorAll('.form-section textarea')
    ];

    elementos.forEach(el => {
        // Substitui espaços por underscore no name e id
        let novoNome = el.name.replace(/\s+/g, '_');
        el.name = novoNome.toLowerCase();

        if (el.id) {
            el.id = el.id.replace(/\s+/g, '_');
        }
    });
    
});
  </script>
</body>

</html>