{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Editar Perfil</title>
  <link rel="stylesheet" href="{% static 'css/milligram.pEdit.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>

<body>
  <div class="container">
    <header>
      <button class="back" >
        <a href="{% url 'indexComunidade' %}" class="back">
    <i class="fas fa-arrow-left"></i>
    </a>
      </button>
      <h1>Editar perfil</h1>
      <button class="save">Save</button>
    </header>

    <div class="profile-section">
      {% if user.foto %}
                <img src="{{user.foto.url}}" alt="Perfil" class="profile-pic" />

      {% else%}

          <img src="{%static 'img/defaultFotoPerfil.jpg' %}" alt="Perfil" class="profile-pic" />

      {% endif %}

      <div class="stars">
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
      </div>
    </div>

    <form class="form-section">
      <div class="form-row">
        <div class="form-group">
          <label>Full name</label>
          <input type="text" placeholder="nomeexemplo" />
        </div>
        <div class="form-group">
          <label>Nome de usuário</label>
          <input type="text" placeholder="" value="{{user.username}}" />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label>E-mail</label>
          <input type="text" value="{{user.email}}" />
        </div>
        <div class="form-group">
          <label>Primeiro login</label>
          <input type="text" value='{{user.date_joined|date:"d/m/y"}}' disabled />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label>Full name</label>
          <input type="text" placeholder="nomeexemplo" />
        </div>
        <div class="form-group">
          <label>Full name</label>
          <input type="text" placeholder="nomeexemplo" />
        </div>
      </div>
    </form>
  </div>
</body>

</html>