{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Editar Perfil</title>
  <link rel="stylesheet" href="{% static 'css/milligram.pEdit.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>

<body>
  <div class="container" >
    <header>
      <button class="back" >
        <a href="{% url 'indexComunidade' %}" class="back">
    <i class="fas fa-arrow-left"></i>
    </a>
      </button>
      <h1>Editar perfil</h1>
      <button class="save">Save</button>
    </header>

    

    <form class="form-section">

      <!-- Perfil + estrelas -->
      <div class="profile-section">
        {% if user.foto %}
          <img src="{{user.foto.url}}" alt="Perfil" class="profile-pic" />
        {% else %}
          <img src="{% static 'img/defaultFotoPerfil.jpg' %}" alt="Perfil" class="profile-pic" />
        {% endif %}
        <input type="file" name="fotoDePerfil" />
        <div class="stars">
          <i class="far fa-star estrela"></i>
          <i class="far fa-star estrela"></i>
          <i class="far fa-star estrela"></i>
          <i class="far fa-star estrela"></i>
          <i class="far fa-star estrela"></i>
        </div>
      </div>
    
      <!-- Linha com inputs e biografia -->
      <div class="form-row">
        
        <!-- Biografia
        <div class="form-group">
          <label for="">Biografia:</label>
          <textarea name="biografia">{{dados_usuario.Biografia}}</textarea>
        </div> -->
    
        <!-- Outros campos -->
        {% for key,value in dados_usuario.items %}
          {% if key != 'date_joined' and key != 'Biografia' %}
          <div class="form-group">
            <label for="">{{key}}</label>
            <input type="text" value="{{value}}">
          </div>
          {% endif %}
        {% endfor %}
    
        <!-- Primeiro login -->
        <div class="form-group">
          <label>Primeiro login</label>
          <input type="text" value='{{dados_usuario.date_joined|date:"d/m/y"}}' disabled />
        </div>

         <!-- Biografia -->
         <div class="form-group-bio">
          <label for="">Biografia:</label>
          <textarea name="biografia">{{dados_usuario.Biografia}}</textarea>
        </div>
    
      </div>
    
    </form>
    
  </div>

  <script>
   
    window.addEventListener('load', function() {
    // Passando o valor do servidor
    let estrelas =  document.querySelectorAll('.estrela')
    let pontuacao = '{{user.pontuacao}}'
    pontuacao = parseInt(pontuacao)
    for(let i = 0; i < pontuacao; i++ ){
      estrelas[i].classList.add('pintada')
    }

});

  </script>
</body>

</html>